.workout-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.workout-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #ececec;
  padding: 1rem;
  border-radius: 1rem;
}
.add-btn {
  width: 100%;
  padding: 0.9rem;
  background-color: #0D70FC;
  border: none;
  border-radius: 1rem;
  color: white;
}

.my-btn {
  width: 100%;
  padding: 0.9rem;
  background-color: #17252a;
  border: none;
  border-radius: 1rem;
  color: white;
}
.add-btn:focus {
  background-color: #04a0d9;
}